body {
  font-family: 'Droid Sans Mono', Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  /* section header */
  /* section banner */
  /* section service */
  /* section faq */
  /* section testi */
  /* section advantages */
}
.container .header {
  padding: 0 100px;
  display: grid;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}
.container .header .logo {
  height: 90px;
  display: flex;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.container .header .logo .akuantri-logo img {
  width: 180px;
}
.container .header .navigate {
  height: 90px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .header .navigate ul {
  display: inline;
  padding: 0 10px 0 0;
}
.container .header .navigate ul li {
  display: inline;
  padding: 0 10px;
}
.container .header .navigate ul li a {
  text-decoration: none;
  color: #474747;
}
.container .header .navigate ul li a:hover {
  color: #62BB33;
}
.container .header .navigate ul li.active {
  display: inline;
  padding: 0 10px;
}
.container .header .navigate ul li.active a {
  text-decoration: none;
  color: #62BB33;
}
.container .header .navigate ul li.active a:hover {
  color: #62BB33;
}
.container .header .navigate .btn-signup {
  border: none;
  background-color: #00B906;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 5px;
}
.container .header .navigate .btn-signup:hover {
  background-color: #6ED139;
}
.container .banner {
  margin: 0;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 669px;
}
.container .banner .banner-content {
  padding: 150px 0 0;
}
.container .banner .banner-content .judul {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin: 0;
}
.container .banner .banner-content .deskripsi {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 15px;
  margin: 0;
}
.container .banner .banner-content .content-btn {
  text-align: center;
}
.container .banner .banner-content .content-btn .playstore,
.container .banner .banner-content .content-btn .pelajari {
  width: 210px;
}
.container .service {
  padding: 50px 100px;
}
.container .service .title-service {
  margin: 0 0 80px 0;
}
.container .service .title-service h1 {
  margin: 0;
  font-size: 34px;
  position: relative;
  padding: 0 0 10px 0;
}
.container .service .title-service h1::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 50px;
  height: 4px;
  background: #00B906;
}
.container .service .title-service p {
  margin: 0;
  padding: 20px 0 0;
  font-size: 20px;
  color: #777777;
}
.container .service .content-service {
  display: flex;
}
.container .service .content-service .box-1 {
  width: 50%;
  min-height: 200px;
}
.container .service .content-service .box-1 .service-1,
.container .service .content-service .box-1 .service-2,
.container .service .content-service .box-1 .service-3,
.container .service .content-service .box-1 .service-4,
.container .service .content-service .box-1 .service-5,
.container .service .content-service .box-1 .service-6 {
  margin: 0 0 50px 0;
}
.container .service .content-service .box-1 span {
  float: left;
  height: 80px;
  margin: 0 20px 0 0;
}
.container .service .content-service .box-1 span i.fa-check {
  color: #62BB33;
  font-size: 40px;
}
.container .service .content-service .box-1 h3,
.container .service .content-service .box-1 p {
  margin: 0;
  padding: 0 0 10px;
}
.container .service .content-service .box-2 {
  width: 50%;
  min-height: 200px;
  position: relative;
}
.container .service .content-service .box-2 img {
  position: absolute;
  top: -130px;
}
.container .faq {
  padding: 50px 100px;
  background-color: #efefef;
}
.container .faq .title-faq {
  text-align: center;
}
.container .faq .title-faq h1 {
  margin: 0;
  font-size: 34px;
  position: relative;
  padding: 0 0 10px 0;
}
.container .faq .title-faq h1::after {
  position: absolute;
  top: 100%;
  left: 48%;
  content: "";
  width: 50px;
  height: 4px;
  background: #00B906;
}
.container .faq .title-faq p {
  margin: 0;
  padding: 20px 0 0;
  font-size: 20px;
  color: #1a1a1a;
}
.container .faq .content-faq {
  padding: 80px 0 0;
  display: flex;
}
.container .faq .content-faq .box-faq-1 {
  width: 50%;
  min-height: 30px;
  margin: 0 10px 0 0;
}
.container .faq .content-faq .box-faq-2 {
  width: 50%;
  min-height: 30px;
  margin: 0 0 0 10px;
}
.container .faq .content-faq .faq-1,
.container .faq .content-faq .faq-2,
.container .faq .content-faq .faq-3,
.container .faq .content-faq .faq-4,
.container .faq .content-faq .faq-5,
.container .faq .content-faq .faq-6 {
  margin: 0 0 20px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.container .faq .content-faq .faq-1 h3,
.container .faq .content-faq .faq-2 h3,
.container .faq .content-faq .faq-3 h3,
.container .faq .content-faq .faq-4 h3,
.container .faq .content-faq .faq-5 h3,
.container .faq .content-faq .faq-6 h3 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}
.container .testi {
  padding: 50px 100px;
  background-color: #ffffff;
}
.container .testi .title-testi {
  text-align: center;
}
.container .testi .title-testi h1 {
  margin: 0;
  font-size: 34px;
  position: relative;
  padding: 0 0 10px 0;
}
.container .testi .title-testi h1::after {
  position: absolute;
  top: 100%;
  left: 48%;
  content: "";
  width: 50px;
  height: 4px;
  background: #00B906;
}
.container .testi .title-testi p {
  margin: 0;
  padding: 20px 0 0;
  font-size: 20px;
  color: #1a1a1a;
}
.container .testi .content-testi {
  padding: 80px 0 30px;
  display: flex;
  justify-content: space-around;
}
.container .testi .content-testi img.img-testi {
  width: 350px;
  height: 350px;
}
.container .advantages {
  padding: 50px 100px 70px;
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
}
.container .advantages .box-ads-1,
.container .advantages .box-ads-2,
.container .advantages .box-ads-3 {
  width: 33%;
  min-height: 100px;
  padding: 0 10px;
  text-align: center;
}
.container .advantages .box-ads-1 .icon,
.container .advantages .box-ads-2 .icon,
.container .advantages .box-ads-3 .icon {
  margin: 0 0 20px;
}
.container .advantages .box-ads-1 .icon i,
.container .advantages .box-ads-2 .icon i,
.container .advantages .box-ads-3 .icon i {
  font-size: 40px;
  padding: 25px;
  border: 1px solid #00b906;
  border-radius: 50%;
  color: #00b906;
}
.container .advantages .box-ads-1 h3,
.container .advantages .box-ads-2 h3,
.container .advantages .box-ads-3 h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 30px;
  color: #000000;
}
.container .advantages .box-ads-1 p,
.container .advantages .box-ads-2 p,
.container .advantages .box-ads-3 p {
  font-size: 16px;
  margin: 0;
  color: #777777;
}
