body {
  font-family: 'Open Sans', sans-serif;
}
.header {
  margin: 20px 0;
  padding: 0 30px;
}
.header .logo {
  width: 180px;
}
.header ul li {
  font-size: 16px;
}
.header button.signup {
  background-color: #00B906;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
}
.header button.signup:hover {
  background-color: #70D53B;
}
.content {
  margin: 20px 0;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 669px;
}
.content .judul {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding: 130px 0 0 0;
}
.content .deskripsi {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 15px;
}
.content .content-btn {
  text-align: center;
}
.content .content-btn .playstore,
.content .content-btn .pelajari {
  width: 210px;
}
.jenis-antrian {
  margin: 20px 0;
}
.jenis-antrian p.sub-judul {
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 70px;
}
.jenis-antrian p.sub-judul-list {
  font-size: 16px;
  margin: 0 0 30px;
}
.freq-question {
  margin: 20px 0;
}
.freq-question h1 {
  text-align: center;
}
.freq-question p.sub-judul {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 70px;
}
.freq-question p.sub-judul-list {
  font-size: 16px;
  margin: 0 0 30px;
}
.testimonial {
  margin: 20px 0;
}
.testimonial h1 {
  text-align: center;
}
.testimonial p.sub-judul {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 70px;
}
.point-plus {
  margin: 20px 0;
}
.point-plus p.sub-judul-list {
  font-size: 16px;
  margin: 0 0 30px;
}
.footer-link {
  margin: 20px 0;
}
.footer-link p.sub-judul {
  font-size: 16px;
  margin: 0 0 70px;
}
.footer p {
  font-size: 14px;
  margin: 0;
}
