.container {
  width: 100%;
}
.nav {
  padding: 0 50px;
  display: grid;
  height: 60px;
}
.nav .gambar-logo {
  grid-row: 0.5;
  grid-column: 0.5;
  display: flex;
  align-items: center;
}
.nav .gambar-logo a.logo img {
  width: 180px;
}
.nav .navigasi {
  grid-row: 0.5;
  grid-column: 0.5;
}
